.ShopBlock
{
  /*border: double gray 3px;*/
  width: 800px;
  /* padding: 3px 7px; */
  /* background-color: #F0F0F0; */
}

.ShopBlock .ShopName
{
  font-weight: bold;
  font-size:1.5em;
  margin: 5px;
}

.ShopBlock .ShopTable {
  width: 100%;
  background: #F0F0F0; /* Цвет фона */
  border: solid black 2px;
  border-collapse: collapse; /* Отображать двойные линии как одинарные */
}

.ShopBlock .ShopTable td{
  border: 1px solid black;
  padding: 4px;
  width: 25%;
  text-align: right;
}

.ShopBlock .ShopTable .ShopTableHeader td{
  text-align: center;
  font-weight: bold;
  border-bottom: solid black 2px;
  background-color: aquamarine;
}


